body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
}
.bingo {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 10px;
}
.cuadro {
    border: 1px solid rgb(255, 97, 97);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 24px;
    color: rgb(255, 97, 97);
}